body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
}

button {
  margin: 5px;
  padding: 10px 15px;
}